body {
transform: translateY(-3px);
}
.tab-btn.active {
background-color: #ff7a00;
color: #000;
font-weight: bold;
box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}


/* CONTEÚDO DAS ABAS */
.tab-content {
display: none;
padding: 30px;
max-width: 900px;
margin: auto;
animation: fadeIn 0.4s ease;
}
.tab-content.active {display: block;}
@keyframes fadeIn {from{opacity:0}to{opacity:1}}


/* CARDS */
.card {
background: #1b2c47;
padding: 20px;
margin: 20px 0;
border-radius: 12px;
border-left: 4px solid #ff7a00;
transition: 0.3s;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}


/* BENEFÍCIOS */
.grid-beneficios {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 20px;
margin-top: 20px;
}
.beneficio {
background: #14233d;
padding: 15px;
border-radius: 10px;
border: 1px solid #ff7a00;
text-align: center;
transition: 0.3s;
}
.beneficio:hover {
background:#1f3659;
transform: scale(1.05);
}


/* FOOTER */
footer {
background-color: #14233d;
padding: 20px;
text-align: center;
margin-top: 40px;
border-top: 3px solid #ff7a00;
animation: fadeIn 1s ease;
}
